@model QRCodeBuilder.Models.QRCodeModel

@{
    ViewData["Title"] = "www.QRCodeGenerator.com";
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateQRCode">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QRCodeText" class="control-label" id="qrUrlLabel">Enter your link:</label>
                <br />
                <input asp-for="QRCodeText" class="form-control" id="qrUrl" />
                <span asp-validation-for="QRCodeText" class="text-danger"></span>
            </div>
            
            <div class="form-check">
                <input asp-for="IsForFacebook" class="form-check-input" type="checkbox" id="fbCheck" on
                       onchange="var ios = document.getElementById('radioIOS');
                                 var android = document.getElementById('radioAndroid');

                                 ios.disabled = !this.checked;
                                 android.disabled = !this.checked;

                                 if (!this.checked) {
                                      document.getElementById('qrUrlLabel').innerHTML = 'Enter your link:';
                                     android.checked = false;
                                     ios.checked = false;
                                 } else {
                                     document.getElementById('qrUrlLabel').innerHTML = 'Enter Page Id:';
                                     ios.checked = true;
                                 }">

                <label asp-for="IsForFacebook" class="form-check-label" for="flexCheckDefault"> Facebook link </label>
            </div>

            <div class="form-group form-check-inline" id="operatingSystems">
                @Html.RadioButtonFor(m => m.OperatingSystem, "ios", new { @class="form-check-input", id="radioIOS", disabled = "disabled", }) IOS 
                @Html.RadioButtonFor(m => m.OperatingSystem, "android", new { @class="form-check-input", id="radioAndroid", disabled = "disabled"}) Android
            </div>
    
            <div class="form-group">
                <input type="submit" value="Generate QR Code" class="btn btn-primary text-center"  />
            </div>

            @if (@Model.QRCodeText != "")
            {
                <div class="form-group">
                    <img src="@Model.CodeString" class="img-thumbnail" />
                </div>
                <div class="form-group">
                    <a download="GeneratedQrCode" href="@Model.CodeString" class="btn btn-success"> Download </a>
                </div>
            }
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}